body {
    font-family: Courier, Arial, Helvetica, sans-serif, sans-serif;
    background: #BFBFB8;
}

p, a {
    color: white;
}

header {
    text-align: center;
}

.container {
    margin: 0 20% 10% 20%; 
}

.columns {
    text-align: center;
}

.columns .columns-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}

.pizza {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 270px;
}

#pizza-list {
    display: flex;
}

.columns .columns-list #pizza-column {
    color: white;
    background-color: #35403A;
    margin: 0 0 5% 0;
}

.image-section {
    margin-bottom: 10%;
}

.image-section img {
    height: auto;
    width: 220px;
    height: 220px;
}

.hidden {
    display: none;
  }

#close-popup {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    cursor: pointer;
    color: rgb(255, 255, 255);
}

.more {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 90%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(255, 255, 255); /* Fallback color */
    background-color: rgba(15, 15, 15, 0.75); /* Black w/ opacity */
    padding-top: 60px;
}

