body {
    font-family: Courier, Arial, Helvetica, sans-serif, sans-serif;
    background: #BFBFB8;
}

#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #A4A69C;
    width: 95%;
    margin: auto;
    border-radius: 5px;
}

h1 {
    color: #35403A;
}

h2 {
    display: flex;
    justify-content: center;
}

#assignment-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    max-width: 80%;
}

    #assignment-section {
        max-width: fit-content;
        display: flex;
        flex-direction: row;
        margin: 0;
        justify-content: center;
    }
    
    #assignment-section #assignment-top-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }


#assignment-section a {
    text-decoration: none;
}

.assignment-card {
    display: flex;
    justify-content: center;
    background: #35403A;
    max-width: max-content;
    min-height: 400px;
    padding: 2em;
    margin: 3em 0;
}

.assignment-card h2 {
    color: #76c99b;
}

.assignment-card .assignment-card-info {
    display: flex;
    justify-content: center;
    background: #35403A;
    flex-direction: column;
    justify-content: center;
}

.assignment-card-info img {
    display: flex;
    justify-content: center;
    margin: auto;
    height: 250px;
}

.assignment-card p {
    color:#BFBFB8;
}

.project-section {
    text-decoration: none;
    list-style: none;
}

/* For larger resolution */
@media only screen and (min-width: 1200px) {

    #content {
        text-align: center;
    }

    #assignment-section {
        max-width: fit-content;
        display: flex;
        flex-direction: row;
        margin: 0;
        justify-content: center;
    }
    
    #assignment-section #assignment-top-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

    }

    .assignment-card {
        min-width: 35%;
        max-width: min-content;
        margin: 2em 1em;
    }

}

