body {
    font-family: Courier, Arial, Helvetica, sans-serif, sans-serif;
    background: #BFBFB8;
}

#content {
    background: #A4A69C;
    padding: 5px;
    width: 90%;
    /* centers horizontally */
    margin: auto;
    border-radius: 5px;
}


/* Main Navigation */
#main-nav ul {
    padding-left: 0;
}
#main-nav li {
    list-style-type: none;
    background: #35403A;
    padding: 5px;
    margin: 5px 10px;
}
#main-nav a {
    color: #BFBFB8;
    text-decoration: none; 
}

/* Hover effect */
#main-nav li:hover {
    list-style-type: none;
    background: #232625;
    padding: 5px;
    border-bottom: 1px solid #302f2f;
    color: #35403A;
}

.assignment-card {
    display: flex;
    background: #35403A;
    flex-direction: column;
    justify-content: center;
    margin: auto 50px;
    max-width: 470px;
    min-height: 470px;
    margin-bottom: 50px;
}

.assignment-card img {
    margin: auto;
    height: 250px;
}

.assignment-card p {
    color:#BFBFB8;
}

h1 {
    color: #35403A;
}

h2 {
    display: flex;
    justify-content: center;
}

/* For larger resolution */
@media only screen and (min-width: 768px) {
    .columns {
        display: flex;
        }
        .columns section {
            padding: 10px 20px;
        }
        .one,
        #main-nav li {
            
            flex: 1;
        }
        .two {
            flex: 2;
        }

        #main-nav li {
            text-align: center;
            border-bottom: 4px solid transparent;
        }
        #main-nav li:hover {
            border-bottom: 4px solid #302f2f;
        }
        .assignment-card {
            margin-bottom: auto;
        }
}

