body {
    font-family: Courier, Arial, Helvetica, sans-serif, sans-serif;
    background: #BFBFB8;
}

p, a {
    color: white;
}

header {
    text-align: center;
}

.container {
  
}

.columns {
    display: flex;
    justify-content: center;
}

#ladder-exercise {
  display: flex;
  justify-content: center;
    margin: 2em;
    border: 1px solid #215338;
    height: 500px;
    background-color: rgb(70, 110, 77);
}

.columns .column {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    background-color: #35403A;
}

#exercise-one .column {
  min-width: 50%;
}

#ladder-container {
    text-align: center;
}

#ladder-container button {
    background-color: #215338;
    border: none;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 1.2em;
}

.column img {
    margin: auto;
    margin-top: 2em;
    max-height: 300px;
}

.column h2 {
    color: white;
    text-align: center;
}

.actual-ladder {
  display: flex;
  flex-direction: column;
}

.ladder {
  position:relative;
  width: 60px;
  height: 220px;
  border-left: 5px solid rgb(10, 10, 10);
  border-right: 5px solid rgb(32, 32, 32);
  display: none;
  margin-left: 50px;
  margin-top: 20px;
}

.rung {
  position: absolute;
  width: 50px;
  height: 5px;
  background-color: rgb(26, 26, 26);
 
  left: 5px;
}
.stick-figure {
  position: relative;
  width: 40px;
  height: 40px;
  background-size: cover;
}

#stickFigure {
  display: none;
}

#btn-climb {
  display: none;
}