body {
    font-family: 'Berlingske Serif', 'Georgia', serif;
    margin: 0;
    font-size: 1em;
    line-height: 1.4;
}

header .top-section .black-row{
    margin: 0;
    padding: 0 1em;
    background-color: #000000;
}

header .top-section .garnet-row h1{
    margin: 0;
    padding: 0 1em;
    background-color: #73000a;
    color: white;
}

header img {
    max-width: 253px;
}

/* Main Navigation */

#main-nav {
    display: flex;
    justify-content: center;
}
#main-nav ul {
    padding-left: 0;
    min-width: 500px;

}
#main-nav li {
    list-style-type: none;
    background: #000000;
    padding: 5px;
    margin: 3px 10px;
}
#main-nav a {
    color: white;
    text-decoration: none; 
}

/* Hover effect */
#main-nav li:hover {
    list-style-type: none;
    background: #73000a;
    padding: 5px;
}

.full-body {
    position: relative;
}

.top-body {
    font-family: "Berlingske Sans", "Arial", sans-serif
}

.top-body, .articles {
    margin: 0 1em;
}

.top-body img{
    display: flex;
    max-width: 99%;
}

.top-body h2 {
    color:#73000a;
}

h3 {
    color:#73000a;
}

.articles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.article {
    display: flex;
    flex-direction: column;
    padding: 1% 0;
    border-bottom: 1px solid #c7c7c7;
    max-width: 49%;
    margin-bottom: 2%;
}

.article img {
    max-width: 100%;
}

.article:hover {
    background-color: #e9e9e9;
}

.article .images {
    padding: 0 2%;
}

.article h4 {
    color:#73000a;
    margin: 0 2%;
}

.article h4::after {
    content: "\00bb";
    padding-left: 3px;
}

.article p {
    margin: 0 2%;
}

.find-us h2, h4 {
    margin: 0 2%;
    color:#73000a;
    font-weight: 600;
}

.find-us .mini-images {
    margin: 0 2%;
}

.article-two {
    display: flex;
    flex-direction: row;
    padding: 1% 0;
    border-bottom: 1px solid #c7c7c7;
}

.article-two .images {
    padding: 5% 2%;
}

.article-two h4 {
    color:#73000a;
    font-weight: 600;
    margin: 0;
}

.article-two h4::after {
    content: "\00bb";
    padding-left: 3px;
}

/* Info box */
.info-box {
    border: .5px solid #c7c7c7;
    border-left: .4em solid #73000a;
    padding: 0 2%;
    font-family: "Berlingske Sans", "Arial", sans-serif;
    background-color: #ECECEC;
    max-width: 1024px;

}

.flex-info-box {
    display: none;
}

.info-box h1 {
    font-family: "Berlingske Serif", "Georgia", serif;
    margin-bottom: 0;
    font-size: 1.5em;
    padding-top: 1em;
    color:#73000a;
}

.info-box h1::after {
    content: "\00bb";
    padding-left: 3px;
}

.info-box span {
    font-weight: 800;
}


.info-box .bold {
    margin: 0;
    display: block;
    font-family: "Berlingske Sans Extracondensed", "Impact", sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: .8px;
    font-size: 3rem;
    color: #73000a;
    line-height: 1.2;
}

.engineering-future {
    margin: 2% 0; 
    display: flex;
}

.engineering-future .info-box-text {
    flex: 1;
}
.engineering-future img {
    flex: 1;
    height: auto;
    width: auto;
    margin-left: 1em;
}

.engineering-future b {
    font-size: 14px;
}

.engineering-future a {
    text-decoration: none;
    color:#73000a;
}

.engineering-future a:hover {
    color: #ffffff;
    background-color: #73000a;

}

.gray-row {
    display: flex;
    background-color: #e9e9e9;
    justify-content: center;
}

.gray-row h1 {
    /* margin-left: 20%; */
    font-size: 1em;
    flex: 1;
}

.gray-row nav {
    /* margin-right: 20%; */
    justify-content: space-evenly;
    justify-items: right;
    flex: 1;
}

.gray-row nav ul {
    display: flex;
}

.gray-row nav li {
    justify-content: space-evenly;
    list-style-type: none;
    /* min-width: 105px; */

}

.gray-row nav a {
    color: black;
    margin: 0.3em;
    text-decoration: none;
}

footer {
    background-color: #73000a;
}

footer h2 {
    color: white;
    font-size: 12px;
}

footer h2, li {
    margin: 0 2%;
}

footer a {
    text-decoration: none;
    color:#ffffff;
    
}

footer a:hover {
    background-color:#be2e3a;
}

footer li {
    list-style-type: none;
}

footer .images {
    display: flex;
    justify-content: center;
}

footer .footer-img {
    max-width: 300px;
}

footer .mini-images {
    display: flex;
    justify-content: center;

}

footer .mini-images img {
    margin: 0 1.5%;
}

footer .footer-row {
    display: flex;
    flex-direction: column;
}

footer .footer-row .bold {
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: .8px;
    font-weight: 800;
    line-height: 1.1;
}

footer .footer-row h2 {
    padding-bottom: 2%;
    border-bottom: 1px solid white;

}

.colleges-and-schools {
    display: flex;
}

.colleges-and-schools .column-one {
    flex: 1;
}

.colleges-and-schools .column-two {
    flex: 1;
}

.offices-and-divisions {
    display: flex;
}

.offices-and-divisions .column-one {
    flex: 1;
}

.offices-and-divisions .column-two {
    flex: 1;
}


/* nav desktop */
.nav-desktop {
    display: none;
    font-size: .875em;
    width: 100%;
    font-weight: 800;
    padding-right: 4em;

}

.nav-desktop a {
    text-decoration: none;
    color:#000000;
    font-size: 14px;
}

#selected span {
    color:#73000a;
}

#selected span:hover {
    background-color: #990000;
    color: white;
}

.nav-desktop span:hover {
    background-color: #990000;
    color: white;
}

.nav-desktop li {
    list-style-type: none;
    border-bottom: 1px solid #c7c7c7;
}

ul {
    padding-left: 0;
}

.toplevel {
    max-width: 170px;
}

.toplevel li {
    margin-bottom: 4%;
}

.find-us {
    margin-top: 3%;
}

@media only screen and (min-width: 1500px) {

    #main-nav ul {
        padding-left: 0;
        min-width: 1100px;
    }

    .info-box {
        display: none;
    }

    .flex-info-box {
        display:block;
        background-color: #ffffff;
        width: 388px;
        height: 140px;
        position: absolute;
        margin-left: 35%;
        margin-top: 10%;
    }

    .flex-info-box h1, p {
        padding: 0 3%;
    }

    .flex-info-box h1 {
        color:#73000a;
    }

    .nav-desktop {
        display: block;
    }

    .articles {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        min-width: 1000px;
    }

    .article {
        max-width: 330px;
    }

    
.gray-row h1 {
    margin-left: 20%;
    font-size: 1em;
    flex: 1;
}

.gray-row nav {
    margin-right: 20%;
    justify-content: space-evenly;
    justify-items: right;
    flex: 1;
}

.gray-row nav ul {
    display: flex;
}

.gray-row nav li {
    justify-content: space-evenly;
    list-style-type: none;
    min-width: 105px;

}

.gray-row nav a {
    color: black;
    margin: 0.3em;
    text-decoration: none;
}

}

@media only screen and (min-width: 908px) {

    #main-nav ul {
        padding-left: 0;
        min-width: 900px;
    }

    #main-nav li {
        /* text-align: center; */
    }

    .full-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .top-body {
        display: flex;
        justify-content: center;
    }

    .first-section  {
        display: flex;
        justify-content: center;
        flex-direction: column;
        max-width: 80%;
    }
/* 
    .info-box {
        display: none;
    } */

    /* .flex-info-box {
        display:block;
        background-color: #ffffff;
        width: 388px;
        height: 140px;
        position: absolute;
        margin-left: 40%;
        margin-top: 10%;
    }

    .flex-info-box h1, p {
        padding: 0 3%;
    }

    .flex-info-box h1 {
        color:#73000a;
    } */


    .nav-desktop {
        display: block;
        font-size: .875em;
        width: 100%;
        font-weight: 800;
    }
    .nav-desktop ul li{
        text-decoration: none;
    }

    .main {
       display: flex;
       margin: 2% 8%;
       justify-content: center;
    }

    .main .column-left  {
        display: flex;
        max-width: 33%;
    }
    .main .column-right {
        display: flex;
        flex-wrap: wrap;
        max-width: 66%;
    }

    .footer-row-whole {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 2% 3% 0 3%;
        font-size: 12px;
    }

    .footer-row li {
        margin-top: .75em;
    }


}